@charset "UTF-8";
:root {
  --header-height: 3rem;
  --hue: 223;
  --primary-color: hsl(var(--hue), 89%, 79%);
  --primary-color-alt: hsl(var(--hue), 89%, 69%);
  --primary-color-light: hsl(var(--hue), 88%, 87%);
  --color-light: hsl(var(--hue),90%, 92%);
  --body-color: hsl(var(--hue), 5%, 95%);
  --color-transparent: hsl(var(--hue), 89%, 79%, 50%);
  --color-white: #ffffff;
  --title-color: hsl(var(--hue), 28%, 9%);
  --text-color: hsl(var(--hue), 4%, 30%);
  --body-font: 'Poppins', sans-serif;
  --biggest-font-size:1.8rem;
  --h2-font-size:1.25rem;
  --h3-font-size:1.125rem;
  --normal-font-size:.938rem;
  --small-font-size:.813rem;
  --smallest-font-size:.75rem;
  --font-semi-bold: 600;
  --font-bold:700;
  --z-tooltip: 10;
  --z-element: 20;
  --z-fixed: 100;
  --mb-0-5: .5rem;
  --mb-0-75:.75rem;
  --mb-1:1rem;
  --mb-1-5:1.5rem;
  --mb-2:2rem;
}

@media screen and (min-widht: 968px) {
  :root {
    --biggest-font-size: 3rem;
    --h2-font-size:1.75rem;
    --h3-font-size:1.25rem;
    --normal-font-size:1rem;
    --small-font-size:.875rem;
    --smallest-font-size:.813rem;
  }
}

/*================== BASE ==================*/
*, ::before, ::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1, h2, h3 {
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
  line-height: 1.5;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  text-decoration: none;
}

/*======================= REUSABLE CLASSES =======================*/
.section {
  padding: 4.5rem 0 1rem;
}

.section__title, .section__title-center {
  font-size: var(--h2-font-size);
  text-align: center;
  margin-bottom: var(--mb-1);
}

.section__title-oferta {
  text-align: center;
}

.svg__color {
  fill: var(--primary-color);
}

.svg__blop {
  fill: var(--color-transparent);
}

.svg__img {
  width: 280px;
  -ms-grid-column-align: center;
      justify-self: center;
}

.inner-img {
  width: 15rem;
}

/*============================ LAYOUT ============================*/
.container {
  max-width: 968px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: -ms-grid;
  display: grid;
  gap: 1.5rem;
}

/*============================ HEADER ============================*/
.main-logo {
  fill: var(--text-color);
  z-index: 130;
  width: 2rem;
  height: 2rem;
}

.main-title {
  z-index: 130;
  text-decoration: none;
  color: var(--title-color);
}

.header {
  width: 100%;
  background-color: var(--body-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  -webkit-transition: .5s;
  transition: .5s;
}

/*============================ NAV ============================*/
.nav {
  height: var(--header-height);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    background-color: var(--color-white);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    padding: 2.5rem 0;
    width: 90%;
    top: -100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    -webkit-transition: .5s;
    transition: .5s;
    border-radius: 2rem;
    z-index: var(--z-fixed);
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 1.5rem;
}

.nav__link, .nav__logo, .nav__toggle {
  color: var(--title-color);
  fill: var(--text-color);
  font-weight: var(--font-semi-bold);
}

.nav__toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.show-menu {
  /* Se calcula --header-height = 3rem + 1rem para ubucar nuevamente el menú*/
  top: calc(var(--header-height) + 1rem);
}

/*=========================  FIGURAS DE LA ESQUINA =========================*/
.figure-1 {
  z-index: 120;
  position: absolute;
  background-color: var(--color-transparent);
  width: 400px;
  height: 400px;
  border-radius: 60% 0 60% 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: -5rem;
  left: -13rem;
}

.figure-2 {
  z-index: 120;
  position: absolute;
  background-color: var(--color-transparent);
  width: 400px;
  height: 400px;
  border-radius: 0 60% 0 60%;
  -webkit-transform: rotate(-38deg);
          transform: rotate(-38deg);
  top: -16rem;
  left: -3rem;
}

/*=============================== HOME ===============================*/
.home__container {
  row-gap: 1rem;
}

.home__title {
  font-size: var(--biggest-font-size);
  font-weight: var(--font-bold);
  line-height: 2.5rem;
  margin-bottom: var(--mb-0-5);
}

.home__description {
  margin-bottom: var(--mb-1);
}

.home__description-2 {
  display: none;
  margin-bottom: var(--mb-1);
}

.home__description-3 {
  display: none;
  margin-bottom: var(--mb-1);
}

.home__see-more {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1rem;
  color: var(--text-color);
}

.home__arrow {
  fill: var(--text-color);
}

.figures-top {
  display: none;
}

/*============================== BUTTONS ==============================*/
.button {
  display: inline-block;
  background-color: var(--primary-color);
  color: var(--title-color);
  padding: .75rem 1.5rem;
  border-radius: 1rem;
  font-weight: var(--font-semi-bold);
  -webkit-transition: .3s;
  transition: .3s;
}

.button:hover {
  background-color: var(--primary-color-alt);
}

.button__header {
  display: none;
}

.button-link {
  color: var(--title-color);
}

.button-link:hover {
  background-color: var(--primary-color-alt);
}

/*============================== OFERTAS ==============================*/
.oferta__container {
  overflow: initial;
}

.oferta__content {
  padding: 0 1.5rem;
}

.oferta__img {
  margin-top: 1rem;
  width: 275px;
  border-radius: 1rem;
  -ms-grid-column-align: center;
      justify-self: center;
}

.oferta__title {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-0-5);
  text-align: center;
}

.oferta__description {
  margin-bottom: var(--mb-0-75);
}

.oferta__button .arrow__icon {
  vertical-align: middle;
  -webkit-transform: translateX(-0.1rem);
          transform: translateX(-0.1rem);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.oferta__button:hover .arrow__icon {
  -webkit-transform: translate(0.25rem);
          transform: translate(0.25rem);
}

.oferta__main__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.oferta__main-tilte {
  font-size: 1.5rem;
}

.swiper-oferta-icon {
  width: 2rem;
  fill: var(--primary-color-alt);
}

.swiper-button-prev {
  left: .3rem;
}

.swiper-button-prev.swiper-button-prev::after {
  content: '';
}

.swiper-button-next {
  right: .3rem;
}

.swiper-button-next.swiper-button-next::after {
  content: '';
}

.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: -2rem;
}

.swiper-pagination-bullet-active {
  background-color: var(--primary-color);
}

.swiper-button-prev,
.swiper-button-next,
.swiprer-pagination-bullet {
  outline: none;
}

/*============================ SERVICIOS ============================*/
.servicios__description {
  text-align: center;
}

.servicios__container {
  padding-top: 1rem;
}

.servicios__data {
  display: -ms-grid;
  display: grid;
  row-gap: 1rem;
  background-color: var(--color-white);
  -webkit-box-shadow: 0 2px 6px hsla(var(--hue), 100%, 15%, 0.15);
          box-shadow: 0 2px 6px hsla(var(--hue), 100%, 15%, 0.15);
  padding: 2rem 1.5rem;
  border-radius: 1rem;
  text-align: center;
}

.servicios__img {
  border-radius: .75rem;
  width: 500px;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-bottom: var(--mb-0-5);
}

.servicios__personas {
  display: -ms-grid;
  display: grid;
  padding-top: 1rem;
}

.servicios__title-persona {
  padding-top: 3rem;
  text-align: center;
}

.servicios__persona-individual {
  display: -ms-grid;
  display: grid;
  row-gap: .5rem;
  text-align: center;
  margin-bottom: var(--mb-1-5);
}

.circle__pic {
  width: 10rem;
  -ms-grid-column-align: center;
      justify-self: center;
}

.person-1 {
  width: 1.5rem;
}

/*================== CONTACTO ==================*/
.contacto__container {
  padding-bottom: 3rem;
}

.contacto__description {
  text-align: center;
}

.contacto__content {
  row-gap: .75rem;
}

.contacto__address {
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

.contacto__information {
  font-weight: initial;
  color: var(--text-color);
}

/*============================= FOOTER =============================*/
.footer {
  background-color: var(--primary-color);
  padding-bottom: 2rem;
}

.footer__container {
  row-gap: 2rem;
}

.footer__logo, .footer__title {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-0-75);
}

.footer__logo {
  display: inline-block;
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

.footer__description, .footer__link {
  font-size: var(--small-font-size);
}

.footer__links {
  display: -ms-grid;
  display: grid;
  row-gap: .5rem;
}

.footer__link {
  color: var(--title-color);
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.5rem;
          column-gap: 1.5rem;
}

.footer__social-icon {
  width: 1.5rem;
  fill: var(--title-color);
}

.footer__copy {
  margin-top: 4rem;
  text-align: center;
  font-size: var(--small-font-size);
  color: var(--text-color);
}

::-webkit-scrollbar {
  width: .7rem;
  border-radius: .5rem;
  background-color: var(--color-light);
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-color-alt);
}

/*==================== PARA DISPOSITIVOS PEQUEÑOS ====================*/
@media screen and (max-width: 360px) {
  .svg__img {
    width: 100%;
  }
  .section {
    padding: 3.5rem 0 1rem;
  }
  .servicios__data {
    padding: 1rem .75rem;
  }
  .servicios__img {
    width: 250px;
  }
  .home__see-more {
    margin-top: 3rem;
  }
}

/*==================== PARA DISPOSITIVOS MEDIANOS ====================*/
@media screen and (min-width: 420px) {
  .home__description {
    display: none;
  }
  .home__description-2 {
    display: inline-block;
  }
  .oferta__data, .oferta__img {
    width: 20rem;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .footer__container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 576px) {
  .grid {
    gap: 1rem;
  }
  .svg__img {
    width: 100%;
  }
  .home__title {
    font-size: 2rem;
  }
  .home__img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .home__container {
    padding: 2rem 2rem;
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home__description, .home__description-2 {
    display: none;
  }
  .home__description-3 {
    display: inline-block;
  }
  .oferta__data {
    width: 35rem;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .oferta__img {
    width: 25rem;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .servicios__container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .servicios__persona-description {
    width: 532px;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

@media screen and (min-width: 767px) {
  body {
    margin: 0;
  }
  .nav {
    height: 4.5rem;
  }
  .figures-top {
    display: inline;
  }
  .section {
    padding: 4rem 0 2rem;
  }
  .home__see-more {
    margin-top: 0;
  }
  .main-logo {
    width: 2.5rem;
    height: 2.5rem;
  }
  .nav__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-column-gap: 1.5rem;
            column-gap: 1.5rem;
  }
  .nav__toggle {
    display: none;
  }
  .log {
    display: none;
  }
  .button__header {
    padding: 0;
    width: 3rem;
    height: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
  }
  .nav-container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 35rem;
  }
}

@media screen and (min-width: 968px) {
  .nav {
    max-width: 90%;
  }
  .home__container {
    padding: 3rem 2rem;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home__title {
    font-size: 3rem;
    line-height: 4rem;
  }
  .main-title {
    font-size: 1.5rem;
  }
  .main-logo {
    width: 3rem;
    height: 3rem;
  }
  .oferta__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 2rem 3rem;
    margin-right: 2rem;
    margin-left: 2rem;
  }
  .oferta__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 2rem;
            column-gap: 2rem;
    grid-auto-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .oferta__img {
    width: 30rem;
  }
  .servicios__persona-description {
    width: 100%;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .servicios__personas {
    padding-top: 1rem;
    grid-auto-flow: column;
    -webkit-column-gap: 2rem;
            column-gap: 2rem;
  }
  .servicios__container {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
  .contacto__container {
    -ms-grid-columns: 3fr 1.5fr 1.25fr;
        grid-template-columns: 3fr 1.5fr 1.25fr;
  }
  .contacto__description {
    text-align: left;
  }
  .footer__container {
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
  }
  .footer__social {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__social-link .footer__social-icon {
    width: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  .home__container {
    padding: 2rem 2rem;
    -ms-grid-columns: 1fr 1.3fr;
        grid-template-columns: 1fr 1.3fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home__title {
    font-size: 3rem;
    line-height: 4rem;
  }
  .oferta__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 3rem;
            column-gap: 3rem;
    grid-auto-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .oferta__img {
    width: 35rem;
  }
  .oferta__main-tilte {
    padding-top: 2rem;
  }
  .section {
    padding: 4rem 0 1rem;
  }
  .servicios {
    max-width: 85%;
  }
  .servicios__main-title {
    padding-top: 2rem;
  }
}

.success__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.5rem 1rem;
  margin: auto;
  border-radius: 1rem;
  background-color: white;
  -webkit-box-shadow: 0px 19px 13px -15px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 19px 13px -15px rgba(0, 0, 0, 0.2);
}

.success__texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.success__title {
  font-weight: 600;
  font-size: 1.5rem;
  color: #2c2b2b;
}

.success__img-png {
  width: 20rem;
}

/*============================ ERROR 404 =============================*/
.error__section {
  height: 100vh;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.error__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-auto-flow: column;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  height: 100%;
  margin: auto;
  background-color: #828787;
}

.error__content {
  width: 70%;
  height: 80%;
  margin: auto;
  padding: 1rem .5rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.error__title {
  font-size: 2rem;
  font-weight: 600;
  color: #2c2b2b;
}

.error__img-png {
  width: 25rem;
  -webkit-filter: drop-shadow(30px 10px 4px rgba(28, 8, 8, 0.192));
          filter: drop-shadow(30px 10px 4px rgba(28, 8, 8, 0.192));
}

.message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 2rem;
}

.welcome {
  visibility: visible;
  position: absolute;
  height: 2.5rem;
  width: 20rem;
  background-color: var(--color-light);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: .3s;
          transform: .3s;
}

/*============================== SIDEBAR ==============================*/
.l-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 15rem;
  height: 100vh;
  background-color: var(--primary-color);
  padding: 1.5rem .5rem 2rem;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: 500;
}

.nav-container {
  max-width: 968px;
  margin-left: 11rem;
  margin-right: var(--mb-1-5);
}

@media screen and (min-width: 767px) {
  .nav-container {
    max-width: 1120px;
    margin-left: 19.5rem;
  }
}

.side__nav {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

.side__nav-main-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: var(--mb-2);
  padding: 0 .5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.side__nav-logo {
  fill: var(--text-color);
  width: 7rem;
  height: 7rem;
  margin-bottom: var(--mb-0-5);
}

.side__nav-logo-text {
  text-align: center;
  font-weight: var(--font-semi-bold);
}

.side__nav__toggle {
  position: absolute;
  top: 4.5rem;
  right: -0.8rem;
  width: 1.7rem;
  height: 1.7rem;
  background-color: var(--text-color);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
}

.side__nav-arrow {
  fill: var(--color-white);
  width: 1rem;
  height: 1rem;
}

.side__nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .5rem;
  border-radius: .5rem;
  margin-bottom: var(--mb-1);
  -webkit-transition: .3s;
  transition: .3s;
  color: var(--title-color);
}

.side__nav__link:hover {
  background-color: var(--color-white);
}

.side__nav__icon {
  width: 1.7rem;
  height: 1.7rem;
  margin-right: 1rem;
  fill: var(--text-color);
}

.side__nav__text {
  font-weight: var(--font-semi-bold);
  color: var(--text-color);
}

.show-dash {
  width: 15.5rem;
}
/*# sourceMappingURL=main.css.map */