/* Importaciones */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");

:root {
  --font-base-color: hsl(228, 28%, 9%);
  --font-secondary-base-color: hsl(0, 0%, 40%);
  --font-light-color: hsl(223, 82%, 96%);
  --font-size-title: 4rem;
  --font-size-paragraph: 1.2rem;
  --primary-color: hsl(223, 89%, 79%);
  --secondary-color-first: hsl(223, 88%, 87%);
  --secondary-color-alpha: hsla(223, 88%, 87%, 0.473);
  --secondary-color-one: hsl(223, 90%, 92%);
  --secondary-color-two: hsl(223, 81%, 85%, 53%);
  --secondary-color-three: hsl(223, 5%, 97%);
  --secondary-color-four: hsl(0, 0, 100%);
  --font-family: "Poppins", sans-serif;
}

* {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  box-sizing: border-box;
  border: none;
}

body {
  overflow-x: hidden;
  background: var(--secondary-color-three);
}

header{
  display: contents;
}


h3 {
  font-size: 1rem;
  color: var(--secondary-color-three);
}

input,
select {
  text-align: center;
  width: 98%;
  background-color: var(--secondary-color-three);
  border-radius: 5px;
  margin-bottom: 10px;
  color: var(--font-secondary-base-color);
  padding: 5px 0 0 5px;
}

textarea {
  border-radius: 5px;
  width: 98%;
  height: auto;
  min-height: 50px;
  max-height: 115px;
  resize:vertical;
  text-align: center;
  padding: 5px 5px 5px 5px;
  margin: 0 auto;
  color: var(--font-secondary-base-color);
}


label, .flash{
  font-size: .7rem;
  margin: 0 auto;
}

.container-forms {
  width: 100%;
  position: relative;
  top: 0;
  display: contents;
}

.form-reservation{
  width: 80%;
  padding: 0 20px;
  display: grid;
  margin: 0 auto;
  position: relative;
  left: 8%;
  background-color: var(--primary-color);
  border-radius: 0 0 10px 10px;
}

.title {
  color: var(--secondary-color-three);
  border-radius: 10px;
  font-size: 2rem;
  width: 100%;
  text-align: center;
}
.title-container{
  position: relative;
  border-radius: 10px 10px 0 0;
  width: 80%;
  margin: 0 auto;
  height: 10%;
  background-color: var(--primary-color);
  padding: 20px 10px 0 10px;
  left: 8%;
}

.nombres{
  display: grid;
  text-align: center;
  float: left;
  width: 50%;
  margin: 0;
}
.contactos{
  display: grid;
  text-align: center;
  float: right;
  width: 50%;

}

.fechas{
  display: grid;
  text-align: center;
  float: left;
  width: 50%;
}

.list{
  display: grid;
  text-align: center;
  float: right;
  width: 50%;
}



.huespedes{
  display: grid;
  text-align: center;
  float: left;
  width: 50%;
}

.especial{
  display: grid;
  text-align: center;
  float: left;
  width: 50%;
}

#policies{
  display: grid;
}
.policies{
  display: grid;
  text-align: center;
  float: right;
  width: 50%;
}

.pay{
  border-radius: 20px;
	border: 2px solid var(--secondary-color-three);
	background-color: var(--primary-color);
	color: var(--font-light-color);
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.pay:hover{
  background-color: var(--secondary-color-two);
  cursor: pointer;
}

@media screen and (max-width: 680px) {

  .form-reservation{
    position: inherit;
    left: 0;
    width:  90%;
  }
  .title-container{
    position: inherit;
    left: 0;
    width: 90%;
  }
}