{% extends "index.html" %}

<title>{% block title %} Dashboard {% endblock %}</title>

{# block header #}{# endblock #}

{% block login %}
<li class="nav__item log">
    <a href="{{ url_for('logout')}}" class="nav__link">Logout</a>
</li>
{% endblock %}

{% block btn_login %}
<a href="{{ url_for('logout')}}" class="button button__header">Logout</a>
{% endblock %}

{% block main %}
<section class="home section" id="home">
    <div class="message">
        {% with messages = get_flashed_messages() %}
            {% if messages%}
                {% for msg in messages %}
                <div class="welcome" ><p>{{msg}} {{username}} </p></div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <div class="container grid">
    
    </div>
</section>
{% endblock  %}

{% block footer %}{% endblock %}


{% block scripts %} 
<script> 
    function showMessage(){
        document.getElementsByClassName("welcome")[0].style.visibility = "hidden";
    }
    setTimeout('showMessage()',5000);
</script>
{% endblock %}

