/*============================== SIDEBAR ==============================*/
$nav-width: 4rem;

.l-navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: $nav-width + 11rem;
    height: 100vh;
    background-color: var(--primary-color);
    padding: 1.5rem .5rem 2rem;
    transition: .5s;
    z-index: 500;

}

.nav-container{
    // background-color: tomato;
    max-width: 968px;
    margin-left: 11rem;
    // margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

@media screen and (min-width: 767px){

    .nav-container{
        max-width: 1120px;
        margin-left: 19.5rem;
    }
}


.side__nav{
    // background-color: tomato;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    
    &-main-logo{
        // background-color: tomato;
        display: flex;
        align-items: center;
        margin-bottom: var(--mb-2);
        padding: 0 .5rem;
        flex-direction: column;
    }

    &-logo{
        fill: var(--text-color);
        width: 7rem;
        height: 7rem;
        margin-bottom: var(--mb-0-5);
    }

    &-logo-text{
        text-align: center;
        font-weight: var(--font-semi-bold);
    }

    &__toggle{
        position: absolute;
        top: 4.5rem;
        right: -0.8rem;
        width: 1.7rem;
        height: 1.7rem;
        background-color: var(--text-color);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: .5s;
    }

    &-arrow{
        fill: var(--color-white);
        width: 1rem;
        height: 1rem;
    }

    &__link{
        display: flex;
        align-items: center;
        padding: .5rem;
        border-radius: .5rem;
        margin-bottom: var(--mb-1);
        transition: .3s;
        color: var(--title-color);
        // gap: .5rem;

        &:hover{
            background-color: var(--color-white);
        }
    }

    &__icon{
        width: 1.7rem;
        height: 1.7rem;
        margin-right: 1rem;
        fill: var(--text-color);
    }
    &__text{
        font-weight: var(--font-semi-bold);
        color: var(--text-color);
    }
}


.show-dash{
    width: $nav-width + 11.5rem;
}


//=============================== USER ===============================

.u-navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: $nav-width + 11rem;
    height: 100vh;
    background-color: var(--text-color);
    padding: 1.5rem .5rem 2rem;
    transition: .5s;
    z-index: 500;

}
.user__nav{
    // background-color: tomato;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    
    &-main-logo{
        // background-color: tomato;
        display: flex;
        align-items: center;
        margin-bottom: var(--mb-2);
        padding: 0 .5rem;
        flex-direction: column;
    }

    &-logo{
        fill: var(--color-white);
        width: 7rem;
        height: 7rem;
        margin-bottom: var(--mb-0-5);
    }

    &-logo-text{
        text-align: center;
        font-weight: var(--font-semi-bold);
        color: var(--color-white);
    }

    &__toggle{
        position: absolute;
        top: 4.5rem;
        right: -0.8rem;
        width: 1.7rem;
        height: 1.7rem;
        background-color: var(--color-white);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: .5s;
    }

    &-arrow{
        fill: var(--text-color);
        width: 1rem;
        height: 1rem;
    }

    &__link{
        display: flex;
        align-items: center;
        padding: .5rem;
        border-radius: .5rem;
        margin-bottom: var(--mb-1);
        transition: .3s;
        color: var(--color-white);
        // gap: .5rem;

        &:hover{
            border:  1px solid var(--color-white);
            margin: 0;

        }
    }

    &__icon{
        width: 1.7rem;
        height: 1.7rem;
        margin-right: 1rem;
        fill: var(--color-white);
    }
    &__text{
        font-weight: var(--font-semi-bold);
        color: var(--color-white);
    }
}


.container__dash{
    max-width: 100%;

    // align-content: flex-end;

    margin-left: 15rem;
    margin-right: 0;
    // margin-right: var(--mb-1-5);
}

.grid__dash{
    display: grid;
    gap: 1.5rem;
}


.content__dash{
    width: 90%;
    margin-left: auto;
    margin-right: auto;

    &-title{
        margin-bottom: var(--mb-1);
    }

    // &-select{
    //     position: relative;
    //     width: 100%;
    // }
}

.input__field{
    position: relative;
    margin-bottom: .75rem;
    display: flex;
    align-items: center;
    
    &:last-child{
        margin-bottom: 0;
    }
}

.input, .textArea{
    width: 100%;
    outline: none;
    border: 1.5px solid hsl(240, 3%, 79%);
    // border: 1px solid hsla(2, 71%, 51%, 0.651);
    font-size: 1rem;
    padding: .5rem .75rem;
    // border-radius: 2rem;
    transition: all .3s ease;
    color: hsl(240, 8%, 9%);

     &:focus{
         border: 1px solid hsl(224, 51%, 65%);
     }
}

.label{
    width: 15rem; 
    color: hsl(240, 8%, 9%);
    margin-right: 0.5rem;
    font-size: .938rem;
    font-weight: 360;
}

.custom__select{
    position: relative;
    width: 100%;
    // height: 100%;
    // height: 2.2rem;

    select{
        -webkit-appearance: none;
        // appearance: none;
        border: 1px solid hsl(160, 8%, 85%);
        width: 100%;
        height: 100%;
        padding: .5rem .75rem;
        // border-radius: 2rem;
        outline: none;
        font-size: .938rem;
        color: hsla(240, 47%, 41%, 0.747);
        font-family: 'Poppins', sans-serif;

        option{
            font-size: .938rem;
        }
        &:focus{
            border: 1px solid hsl(224, 51%, 65%);
        }
    }

    &:before{   // triangulo de color
        content: "";
        position: absolute;
        top: 1rem;
        right: .5rem;
        border: .5rem solid;
        border-color: hsl(224, 51%, 65%)transparent transparent transparent;
        border-radius: 3px;
        pointer-events: none;
    }
    
}


.btn{
    width: 40%;
    margin: 0 auto;
    padding: .5rem 1rem;
    font-size: 1.2rem;
    border: 0;
    background: hsl(224, 51%, 65%);
    // border-radius: .5rem;
    cursor: pointer;
    outline: none;
    font-weight: 550;
    color: hsl(240, 8%, 15%);

    &:hover{
        background: hsl(224, 28%, 44%);
        color: hsl(0, 0%, 100%);
    }
}

/*========================= TABLES ===============================*/
.table{
    width: 100%;
    border-collapse: collapse;
    // gap: .5rem;
    
    &__row-head{
        background-color: var(--primary-color-light);
        
    }
    
    &__item{
        border-right:1px solid hsl(0, 1%, 56%);
        margin-bottom: 1rem;
        padding: .75rem;
        // border: 1px solid;
        // border-radius: .75rem;
    }
    
    &__info{
        border-right:1px solid hsl(0, 1%, 56%);
        padding: .3rem;
        text-align: center;
    }
}
tr:nth-child(even) {
    background-color:var(--color-transparent);
  }