/*============================ SERVICIOS ============================*/
.servicios{


    &__description{
        text-align: center;
    }
    &__container{
        padding-top: 1rem;
    }

    &__data{
        display: grid;
        row-gap: 1rem;
        background-color: var(--color-white);
        box-shadow: 0 2px 6px hsla(var(--hue), 100%, 15%, 0.15);
        padding: 2rem 1.5rem;
        border-radius: 1rem;
        text-align: center;
    }
    &__img{
        border-radius: .75rem;
        width: 500px;  // pendiente
        justify-self: center;
        margin-bottom: var(--mb-0-5);
    }

    &__personas{
        display: grid;
        padding-top: 1rem;
    }

    &__title-persona{
        padding-top: 3rem;
        text-align: center;
    }

    &__persona-individual{
        display: grid;
        row-gap: .5rem;
        text-align: center;
        margin-bottom: var(--mb-1-5);
    }

}

.circle__pic{
    width: 10rem;
    justify-self: center;
}

.person-1{
    width: 1.5rem;
}

