{% extends "index.html" %}

{% block links %}
<link rel="stylesheet" href="/static/css/reservation.css">
<link rel="stylesheet" href="/static/css/main.css">
{% endblock %}

{# block btn_login %} {% endblock #}

{% block btn_arrow %}{% endblock %}

{% block main %}
<div class="container-forms">
    <div class="title-container">
        <h1 class="title">Reservar habitaci&oacute;n</h1>
    </div>
    <div class="form-reservation">
        <form action="{{ url_for('reservation') }}" id="reservation" name="reservation" method="POST" novalidate autocomplete="on">
            <div class="nombres">
                <h3>Nombre completo</h3>
                <input id="name" name="name" type="text" placeholder="Nombres *" value="{{nameStatement}}">
                <input id="lastname" name="lastname" type="text" placeholder="Apellidos *" value="{{lastnameStatement}}">
            </div>
            <div class="contactos">
                <h3>Informaci&oacute;n de contacto</h3>
                <input id="email" name="email" type="text" placeholder="Email *" value="{{emailStatement}}">
                <input id="confirm-email" name="confirm-email" type="text" placeholder="Confirmar email *" value="{{confirmeEmailStatement}}">
                <input type="tel" id="phone-number" name="phone-number" placeholder="N&uacute;mero celular *" value="{{phoneStatement}}">
            </div>
            <div class="fechas">
                <h3>Fecha de llegada</h3>
                <input type="text" id="check-in" name="check-in" placeholder="Check-In *" onblur="(this.type='text')" onfocus="(this.type='date')" value="{{checkinStatement}}">
                <h3>Fecha de salida</h3>
                <input type="text" id="check-out" name="check-out" placeholder="Check-Out *" onblur="(this.type='text')" onfocus="(this.type='date')" value="{{checkoutStatement}}">
            </div>
            <div class="list">
                <h3>Idioma y pa&iacute;s</h3>
                <select name="list-languages" id="list-languages" value="{{languageStatement}}">
                    <option selected>Idioma *</option>
                    <option id="Afrikanns">Afrikanns</option>
                    <option id="Albanian">Albanian</option>
                    <option id="Arabic">Arabic</option>
                    <option id="Armenian">Armenian</option>
                    <option id="Basque">Basque</option>
                    <option id="Bengali">Bengali</option>
                    <option id="Bulgarian">Bulgarian</option>
                    <option id="Catalan">Catalan</option>
                    <option id="Cambodian">Cambodian</option>
                    <option id="Chinese (Mandarin)">Chinese (Mandarin)</option>
                    <option id="Croation">Croation</option>
                    <option id="Czech">Czech</option>
                    <option id="Danish">Danish</option>
                    <option id="Dutch">Dutch</option>
                    <option id="English">English</option>
                    <option id="Estonian">Estonian</option>
                    <option id="Fiji">Fiji</option>
                    <option id="Finnish">Finnish</option>
                    <option id="French">French</option>
                    <option id="Georgian">Georgian</option>
                    <option id="German">German</option>
                    <option id="Greek">Greek</option>
                    <option id="Gujarati">Gujarati</option>
                    <option id="Hebrew">Hebrew</option>
                    <option id="Hindi">Hindi</option>
                    <option id="Hungarian">Hungarian</option>
                    <option id="Icelandic">Icelandic</option>
                    <option id="Indonesian">Indonesian</option>
                    <option id="Irish">Irish</option>
                    <option id="Italian">Italian</option>
                    <option id="Japanese">Japanese</option>
                    <option id="Javanese">Javanese</option>
                    <option id="Korean">Korean</option>
                    <option id="Latin">Latin</option>
                    <option id="Latvian">Latvian</option>
                    <option id="Lithuanian">Lithuanian</option>
                    <option id="Macedonian">Macedonian</option>
                    <option id="Malay">Malay</option>
                    <option id="Malayalam">Malayalam</option>
                    <option id="Maltese">Maltese</option>
                    <option id="Maori">Maori</option>
                    <option id="Marathi">Marathi</option>
                    <option id="Mongolian">Mongolian</option>
                    <option id="Nepali">Nepali</option>
                    <option id="Norwegian">Norwegian</option>
                    <option id="Persian">Persian</option>
                    <option id="Polish">Polish</option>
                    <option id="Portuguese">Portuguese</option>
                    <option id="Punjabi">Punjabi</option>
                    <option id="Quechua">Quechua</option>
                    <option id="Romanian">Romanian</option>
                    <option id="Russian">Russian</option>
                    <option id="Samoan">Samoan</option>
                    <option id="Serbian">Serbian</option>
                    <option id="Slovak">Slovak</option>
                    <option id="Slovenian">Slovenian</option>
                    <option id="Spanish">Spanish</option>
                    <option id="Swahili">Swahili</option>
                    <option id="Swedish ">Swedish </option>
                    <option id="Tamil">Tamil</option>
                    <option id="Tatar">Tatar</option>
                    <option id="Telugu">Telugu</option>
                    <option id="Thai">Thai</option>
                    <option id="Tibetan">Tibetan</option>
                    <option id="Tonga">Tonga</option>
                    <option id="Turkish">Turkish</option>
                    <option id="Ukranian">Ukranian</option>
                    <option id="Urdu">Urdu</option>
                    <option id="Uzbek">Uzbek</option>
                    <option id="Vietnamese">Vietnamese</option>
                    <option id="Welsh">Welsh</option>
                    <option id="Xhosa">Xhosa</option>
                </select>
                <select  name="list-countries" id="list-countries" value="{{countryStatement}}">
                    <option selected>Pa&iacute;s *</option>
                    <option id="AF">Afganist&aacute;n</option>
                    <option id="AL">Albania</option>
                    <option id="DE">Alemania</option>
                    <option id="AD">Andorra</option>
                    <option id="AO">Angola</option>
                    <option id="AI">Anguilla</option>
                    <option id="AQ">Ant&aacute;rtida</option>
                    <option id="AG">Antigua y Barbuda</option>
                    <option id="AN">Antillas Holandesas</option>
                    <option id="SA">Arabia Saud&iacute;</option>
                    <option id="DZ">Argelia</option>
                    <option id="AR">Argentina</option>
                    <option id="AM">Armenia</option>
                    <option id="AW">Aruba</option>
                    <option id="AU">Australia</option>
                    <option id="AT">Austria</option>
                    <option id="AZ">Azerbaiy&aacute;n</option>
                    <option id="BS">Bahamas</option>
                    <option id="BH">Bahrein</option>
                    <option id="BD">Bangladesh</option>
                    <option id="BB">Barbados</option>
                    <option id="BE">B&eacute;lgica</option>
                    <option id="BZ">Belice</option>
                    <option id="BJ">Benin</option>
                    <option id="BM">Bermudas</option>
                    <option id="BY">Bielorrusia</option>
                    <option id="MM">Birmania</option>
                    <option id="BO">Bolivia</option>
                    <option id="BA">Bosnia y Herzegovina</option>
                    <option id="BW">Botswana</option>
                    <option id="BR">Brasil</option>
                    <option id="BN">Brunei</option>
                    <option id="BG">Bulgaria</option>
                    <option id="BF">Burkina Faso</option>
                    <option id="BI">Burundi</option>
                    <option id="BT">But&aacute;n</option>
                    <option id="CV">Cabo Verde</option>
                    <option id="KH">Camboya</option>
                    <option id="CM">Camer&uacute;n</option>
                    <option id="CA">Canad&aacute;</option>
                    <option id="TD">Chad</option>
                    <option id="CL">Chile</option>
                    <option id="CN">China</option>
                    <option id="CY">Chipre</option>
                    <option id="VA">Ciudad del Vaticano</option>
                    <option id="CO">Colombia</option>
                    <option id="KM">Comores</option>
                    <option id="CG">Congo</option>
                    <option id="CD">Congo, Rep&uacute;blica Democr&aacute;tica del</option>
                    <option id="KR">Corea</option>
                    <option id="KP">Corea del Norte</option>
                    <option id="CI">Costa de Marf&iacute;l</option>
                    <option id="CR">Costa Rica</option>
                    <option id="HR">Croacia (Hrvatska)</option>
                    <option id="CU">Cuba</option>
                    <option id="DK">Dinamarca</option>
                    <option id="DJ">Djibouti</option>
                    <option id="DM">Dominica</option>
                    <option id="EC">Ecuador</option>
                    <option id="EG">Egipto</option>
                    <option id="SV">El Salvador</option>
                    <option id="AE">Emiratos &aacute;rabes Unidos</option>
                    <option id="ER">Eritrea</option>
                    <option id="SI">Eslovenia</option>
                    <option id="ES">Espa&ntilde;a</option>
                    <option id="US">Estados Unidos</option>
                    <option id="EE">Estonia</option>
                    <option id="ET">Etiop&iacute;a</option>
                    <option id="FJ">Fiji</option>
                    <option id="PH">Filipinas</option>
                    <option id="FI">Finlandia</option>
                    <option id="FR">Francia</option>
                    <option id="GA">Gab&oacute;n</option>
                    <option id="GM">Gambia</option>
                    <option id="GE">Georgia</option>
                    <option id="GH">Ghana</option>
                    <option id="GI">Gibraltar</option>
                    <option id="GD">Granada</option>
                    <option id="GR">Grecia</option>
                    <option id="GL">Groenlandia</option>
                    <option id="GP">Guadalupe</option>
                    <option id="GU">Guam</option>
                    <option id="GT">Guatemala</option>
                    <option id="GY">Guayana</option>
                    <option id="GF">Guayana Francesa</option>
                    <option id="GN">Guinea</option>
                    <option id="GQ">Guinea Ecuatorial</option>
                    <option id="GW">Guinea-Bissau</option>
                    <option id="HT">Hait&iacute;</option>
                    <option id="HN">Honduras</option>
                    <option id="HU">Hungr&iacute;a</option>
                    <option id="IN">India</option>
                    <option id="ID">Indonesia</option>
                    <option id="IQ">Irak</option>
                    <option id="IR">Ir&aacute;n</option>
                    <option id="IE">Irlanda</option>
                    <option id="BV">Isla Bouvet</option>
                    <option id="CX">Isla de Christmas</option>
                    <option id="IS">Islandia</option>
                    <option id="KY">Islas Caim&aacute;n</option>
                    <option id="CK">Islas Cook</option>
                    <option id="CC">Islas de Cocos o Keeling</option>
                    <option id="FO">Islas Faroe</option>
                    <option id="HM">Islas Heard y McDonald</option>
                    <option id="FK">Islas Malvinas</option>
                    <option id="MP">Islas Marianas del Norte</option>
                    <option id="MH">Islas Marshall</option>
                    <option id="UM">Islas menores de Estados Unidos</option>
                    <option id="PW">Islas Palau</option>
                    <option id="SB">Islas Salom&oacute;n</option>
                    <option id="SJ">Islas Svalbard y Jan Mayen</option>
                    <option id="TK">Islas Tokelau</option>
                    <option id="TC">Islas Turks y Caicos</option>
                    <option id="VI">Islas V&iacute;rgenes (EEUU)</option>
                    <option id="VG">Islas V&iacute;rgenes (Reino Unido)</option>
                    <option id="WF">Islas Wallis y Futuna</option>
                    <option id="IL">Israel</option>
                    <option id="IT">Italia</option>
                    <option id="JM">Jamaica</option>
                    <option id="JP">Jap&oacute;n</option>
                    <option id="JO">Jordania</option>
                    <option id="KZ">Kazajist&aacute;n</option>
                    <option id="KE">Kenia</option>
                    <option id="KG">Kirguizist&aacute;n</option>
                    <option id="KI">Kiribati</option>
                    <option id="KW">Kuwait</option>
                    <option id="LA">Laos</option>
                    <option id="LS">Lesotho</option>
                    <option id="LV">Letonia</option>
                    <option id="LB">L&iacute;bano</option>
                    <option id="LR">Liberia</option>
                    <option id="LY">Libia</option>
                    <option id="LI">Liechtenstein</option>
                    <option id="LT">Lituania</option>
                    <option id="LU">Luxemburgo</option>
                    <option id="MK">Macedonia, Ex-Rep&uacute;blica Yugoslava</option>
                    <option id="MG">Madagascar</option>
                    <option id="MY">Malasia</option>
                    <option id="MW">Malawi</option>
                    <option id="MV">Maldivas</option>
                    <option id="ML">Mal&iacute;</option>
                    <option id="MT">Malta</option>
                    <option id="MA">Marruecos</option>
                    <option id="MQ">Martinica</option>
                    <option id="MU">Mauricio</option>
                    <option id="MR">Mauritania</option>
                    <option id="YT">Mayotte</option>
                    <option id="MX">M&eacute;xico</option>
                    <option id="FM">Micronesia</option>
                    <option id="MD">Moldavia</option>
                    <option id="MC">M&oacute;naco</option>
                    <option id="MN">Mongolia</option>
                    <option id="MS">Montserrat</option>
                    <option id="MZ">Mozambique</option>
                    <option id="NA">Namibia</option>
                    <option id="NR">Nauru</option>
                    <option id="NP">Nepal</option>
                    <option id="NI">Nicaragua</option>
                    <option id="NE">N&iacute;ger</option>
                    <option id="NG">Nigeria</option>
                    <option id="NU">Niue</option>
                    <option id="NF">Norfolk</option>
                    <option id="NO">Noruega</option>
                    <option id="NC">Nueva Caledonia</option>
                    <option id="NZ">Nueva Zelanda</option>
                    <option id="OM">Om&aacute;n</option>
                    <option id="NL">Pa&iacute;ses Bajos</option>
                    <option id="PA">Panam&aacute;</option>
                    <option id="PG">Pap&uacute;a Nueva Guinea</option>
                    <option id="PK">Paquist&aacute;n</option>
                    <option id="PY">Paraguay</option>
                    <option id="PE">Per&uacute;</option>
                    <option id="PN">Pitcairn</option>
                    <option id="PF">Polinesia Francesa</option>
                    <option id="PL">Polonia</option>
                    <option id="PT">Portugal</option>
                    <option id="PR">Puerto Rico</option>
                    <option id="QA">Qatar</option>
                    <option id="UK">Reino Unido</option>
                    <option id="CF">Rep&uacute;blica Centroafricana</option>
                    <option id="CZ">Rep&uacute;blica Checa</option>
                    <option id="ZA">Rep&uacute;blica de Sud&aacute;frica</option>
                    <option id="DO">Rep&uacute;blica Dominicana</option>
                    <option id="SK">Rep&uacute;blica Eslovaca</option>
                    <option id="RE">Reuni&oacute;n</option>
                    <option id="RW">Ruanda</option>
                    <option id="RO">Rumania</option>
                    <option id="RU">Rusia</option>
                    <option id="EH">Sahara Occidental</option>
                    <option id="KN">Saint Kitts y Nevis</option>
                    <option id="WS">Samoa</option>
                    <option id="AS">Samoa Americana</option>
                    <option id="SM">San Marino</option>
                    <option id="VC">San Vicente y Granadinas</option>
                    <option id="SH">Santa Helena</option>
                    <option id="LC">Santa Luc&iacute;a</option>
                    <option id="ST">Santo Tom&eacute; y Pr&iacute;ncipe</option>
                    <option id="SN">Senegal</option>
                    <option id="SC">Seychelles</option>
                    <option id="SL">Sierra Leona</option>
                    <option id="SG">Singapur</option>
                    <option id="SY">Siria</option>
                    <option id="SO">Somalia</option>
                    <option id="LK">Sri Lanka</option>
                    <option id="PM">St Pierre y Miquelon</option>
                    <option id="SZ">Suazilandia</option>
                    <option id="SD">Sud&aacute;n</option>
                    <option id="SE">Suecia</option>
                    <option id="CH">Suiza</option>
                    <option id="SR">Surinam</option>
                    <option id="TH">Tailandia</option>
                    <option id="TW">Taiw&aacute;n</option>
                    <option id="TZ">Tanzania</option>
                    <option id="TJ">Tayikist&aacute;n</option>
                    <option id="TF">Territorios franceses del Sur</option>
                    <option id="TP">Timor Oriental</option>
                    <option id="TG">Togo</option>
                    <option id="TO">Tonga</option>
                    <option id="TT">Trinidad y Tobago</option>
                    <option id="TN">T&uacute;nez</option>
                    <option id="TM">Turkmenist&aacute;n</option>
                    <option id="TR">Turqu&iacute;a</option>
                    <option id="TV">Tuvalu</option>
                    <option id="UA">Ucrania</option>
                    <option id="UG">Uganda</option>
                    <option id="UY">Uruguay</option>
                    <option id="UZ">Uzbekist&aacute;n</option>
                    <option id="VU">Vanuatu</option>
                    <option id="VE">Venezuela</option>
                    <option id="VN">Vietnam</option>
                    <option id="YE">Yemen</option>
                    <option id="YU">Yugoslavia</option>
                    <option id="ZM">Zambia</option>
                    <option id="ZW">Zimbabue</option>
                </select>
            </div>
            <div class="huespedes">
                <h3>N&uacute;mero de huespedes</h3>
                <input type="number" id="number-of-adults" name="number-of-adults" placeholder="Adultos *" value="{{adultsQuantityStatement}}">
                <input type="number" id="number-of-kids" name="number-of-kids" placeholder="Ni&ntilde;os (Menor de 18)" value="{{kidsQuantityStatement}}">
            </div>
            <div class="especial">
                <h3>Peticiones especiales</h3>
                <textarea id="petitions" name="petitions" placeholder="(Opcional) Maximo 300 caracteres" maxlength="300" spellcheck="true" value="{{petitionStatement}}"></textarea>
            </div>

            <div class="policies">
                <label for="policies">Declaro haber
                    le&iacute;do y aceptar las
                    <a href="/static/images/JW-Marriott-Policies.pdf" target="_blank">Politicas de Privacidad</a> del
                    Hotel y la normativa sobre
                    protecci&oacute;n de datos.</label>
                <input type="checkbox" name="policies" id="policies">
            </div>
            <input type="submit" name="pay" id="pay" class="pay" value="Reservar y pagar">
            <section>
                {% for message in get_flashed_messages() %}
                <div class="flash">{{ message }}</div>
                {% endfor %}
            </section>
        </form>
    </div>
</div>
{% endblock %}

{% block footer %}
<p class="footer__copy">&#169; Grupo #1<br>Todos los derechos reservados.</p>
{% endblock %}