{% extends "index.html" %}

{% block links %}
    <link rel="stylesheet" href="/static/css/reservation.css">
    <link rel="stylesheet" href="/static/css/main.css">
{% endblock %}

{# block btn_login %} {% endblock #}

{% block btn_arrow %}
{% endblock %}

{% block main %}
    <div class="container-forms">
        <div class="title-container">
            <h1 class="title">Reservar habitacion</h1>
        </div>
        <div class="form-reservation">
            <form action="{{ url_for('reservation') }}" id="reservation" name="reservation"  method="POST" novalidate>
                <h3>Nombre completo</h3><input required id="name" type="text" placeholder="Nombres">
                <input required id="lastname" type="text" placeholder="Apellidos">
                <h3>Correo electronico</h3>
                <input required id="email" type="text" placeholder="Email">
                <input required id="confirm-email" type="text" placeholder="Confirme Email">
                <h3>Numero de telefono</h3>
                <input required type="tel" id="phone-number" placeholder="(+123 0000000000)">
                <h3>Fecha de llegada</h3>
                <input required type="date" id="check-in">
                <h3>Fecha de salida</h3>
                <input required type="date" id="check-out">
                <h3>Idioma de preferencia</h3>
                <select name="lang" id="list-languages">
                    <option id="Afrikanns">Afrikanns</option>
                    <option id="Albanian">Albanian</option>
                    <option id="Arabic">Arabic</option>
                    <option id="Armenian">Armenian</option>
                    <option id="Basque">Basque</option>
                    <option id="Bengali">Bengali</option>
                    <option id="Bulgarian">Bulgarian</option>
                    <option id="Catalan">Catalan</option>
                    <option id="Cambodian">Cambodian</option>
                    <option id="Chinese (Mandarin)">Chinese (Mandarin)</option>
                    <option id="Croation">Croation</option>
                    <option id="Czech">Czech</option>
                    <option id="Danish">Danish</option>
                    <option id="Dutch">Dutch</option>
                    <option id="English">English</option>
                    <option id="Estonian">Estonian</option>
                    <option id="Fiji">Fiji</option>
                    <option id="Finnish">Finnish</option>
                    <option id="French">French</option>
                    <option id="Georgian">Georgian</option>
                    <option id="German">German</option>
                    <option id="Greek">Greek</option>
                    <option id="Gujarati">Gujarati</option>
                    <option id="Hebrew">Hebrew</option>
                    <option id="Hindi">Hindi</option>
                    <option id="Hungarian">Hungarian</option>
                    <option id="Icelandic">Icelandic</option>
                    <option id="Indonesian">Indonesian</option>
                    <option id="Irish">Irish</option>
                    <option id="Italian">Italian</option>
                    <option id="Japanese">Japanese</option>
                    <option id="Javanese">Javanese</option>
                    <option id="Korean">Korean</option>
                    <option id="Latin">Latin</option>
                    <option id="Latvian">Latvian</option>
                    <option id="Lithuanian">Lithuanian</option>
                    <option id="Macedonian">Macedonian</option>
                    <option id="Malay">Malay</option>
                    <option id="Malayalam">Malayalam</option>
                    <option id="Maltese">Maltese</option>
                    <option id="Maori">Maori</option>
                    <option id="Marathi">Marathi</option>
                    <option id="Mongolian">Mongolian</option>
                    <option id="Nepali">Nepali</option>
                    <option id="Norwegian">Norwegian</option>
                    <option id="Persian">Persian</option>
                    <option id="Polish">Polish</option>
                    <option id="Portuguese">Portuguese</option>
                    <option id="Punjabi">Punjabi</option>
                    <option id="Quechua">Quechua</option>
                    <option id="Romanian">Romanian</option>
                    <option id="Russian">Russian</option>
                    <option id="Samoan">Samoan</option>
                    <option id="Serbian">Serbian</option>
                    <option id="Slovak">Slovak</option>
                    <option id="Slovenian">Slovenian</option>
                    <option id="Spanish" selected>Spanish</option>
                    <option id="Swahili">Swahili</option>
                    <option id="Swedish ">Swedish </option>
                    <option id="Tamil">Tamil</option>
                    <option id="Tatar">Tatar</option>
                    <option id="Telugu">Telugu</option>
                    <option id="Thai">Thai</option>
                    <option id="Tibetan">Tibetan</option>
                    <option id="Tonga">Tonga</option>
                    <option id="Turkish">Turkish</option>
                    <option id="Ukranian">Ukranian</option>
                    <option id="Urdu">Urdu</option>
                    <option id="Uzbek">Uzbek</option>
                    <option id="Vietnamese">Vietnamese</option>
                    <option id="Welsh">Welsh</option>
                    <option id="Xhosa">Xhosa</option>
                </select>
                <h3>Pais de origen</h3>
                <select required name="country" id="list-countries">
                    <option id="AF">Afganistán</option>
                    <option id="AL">Albania</option>
                    <option id="DE">Alemania</option>
                    <option id="AD">Andorra</option>
                    <option id="AO">Angola</option>
                    <option id="AI">Anguilla</option>
                    <option id="AQ">Antártida</option>
                    <option id="AG">Antigua y Barbuda</option>
                    <option id="AN">Antillas Holandesas</option>
                    <option id="SA">Arabia Saudí</option>
                    <option id="DZ">Argelia</option>
                    <option id="AR">Argentina</option>
                    <option id="AM">Armenia</option>
                    <option id="AW">Aruba</option>
                    <option id="AU">Australia</option>
                    <option id="AT">Austria</option>
                    <option id="AZ">Azerbaiyán</option>
                    <option id="BS">Bahamas</option>
                    <option id="BH">Bahrein</option>
                    <option id="BD">Bangladesh</option>
                    <option id="BB">Barbados</option>
                    <option id="BE">Bélgica</option>
                    <option id="BZ">Belice</option>
                    <option id="BJ">Benin</option>
                    <option id="BM">Bermudas</option>
                    <option id="BY">Bielorrusia</option>
                    <option id="MM">Birmania</option>
                    <option id="BO">Bolivia</option>
                    <option id="BA">Bosnia y Herzegovina</option>
                    <option id="BW">Botswana</option>
                    <option id="BR">Brasil</option>
                    <option id="BN">Brunei</option>
                    <option id="BG">Bulgaria</option>
                    <option id="BF">Burkina Faso</option>
                    <option id="BI">Burundi</option>
                    <option id="BT">Bután</option>
                    <option id="CV">Cabo Verde</option>
                    <option id="KH">Camboya</option>
                    <option id="CM">Camerún</option>
                    <option id="CA">Canadá</option>
                    <option id="TD">Chad</option>
                    <option id="CL">Chile</option>
                    <option id="CN">China</option>
                    <option id="CY">Chipre</option>
                    <option id="VA">Ciudad del Vaticano (Santa Sede)</option>
                    <option id="CO" selected>Colombia</option>
                    <option id="KM">Comores</option>
                    <option id="CG">Congo</option>
                    <option id="CD">Congo, República Democrática del</option>
                    <option id="KR">Corea</option>
                    <option id="KP">Corea del Norte</option>
                    <option id="CI">Costa de Marfíl</option>
                    <option id="CR">Costa Rica</option>
                    <option id="HR">Croacia (Hrvatska)</option>
                    <option id="CU">Cuba</option>
                    <option id="DK">Dinamarca</option>
                    <option id="DJ">Djibouti</option>
                    <option id="DM">Dominica</option>
                    <option id="EC">Ecuador</option>
                    <option id="EG">Egipto</option>
                    <option id="SV">El Salvador</option>
                    <option id="AE">Emiratos Árabes Unidos</option>
                    <option id="ER">Eritrea</option>
                    <option id="SI">Eslovenia</option>
                    <option id="ES">España</option>
                    <option id="US">Estados Unidos</option>
                    <option id="EE">Estonia</option>
                    <option id="ET">Etiopía</option>
                    <option id="FJ">Fiji</option>
                    <option id="PH">Filipinas</option>
                    <option id="FI">Finlandia</option>
                    <option id="FR">Francia</option>
                    <option id="GA">Gabón</option>
                    <option id="GM">Gambia</option>
                    <option id="GE">Georgia</option>
                    <option id="GH">Ghana</option>
                    <option id="GI">Gibraltar</option>
                    <option id="GD">Granada</option>
                    <option id="GR">Grecia</option>
                    <option id="GL">Groenlandia</option>
                    <option id="GP">Guadalupe</option>
                    <option id="GU">Guam</option>
                    <option id="GT">Guatemala</option>
                    <option id="GY">Guayana</option>
                    <option id="GF">Guayana Francesa</option>
                    <option id="GN">Guinea</option>
                    <option id="GQ">Guinea Ecuatorial</option>
                    <option id="GW">Guinea-Bissau</option>
                    <option id="HT">Haití</option>
                    <option id="HN">Honduras</option>
                    <option id="HU">Hungría</option>
                    <option id="IN">India</option>
                    <option id="ID">Indonesia</option>
                    <option id="IQ">Irak</option>
                    <option id="IR">Irán</option>
                    <option id="IE">Irlanda</option>
                    <option id="BV">Isla Bouvet</option>
                    <option id="CX">Isla de Christmas</option>
                    <option id="IS">Islandia</option>
                    <option id="KY">Islas Caimán</option>
                    <option id="CK">Islas Cook</option>
                    <option id="CC">Islas de Cocos o Keeling</option>
                    <option id="FO">Islas Faroe</option>
                    <option id="HM">Islas Heard y McDonald</option>
                    <option id="FK">Islas Malvinas</option>
                    <option id="MP">Islas Marianas del Norte</option>
                    <option id="MH">Islas Marshall</option>
                    <option id="UM">Islas menores de Estados Unidos</option>
                    <option id="PW">Islas Palau</option>
                    <option id="SB">Islas Salomón</option>
                    <option id="SJ">Islas Svalbard y Jan Mayen</option>
                    <option id="TK">Islas Tokelau</option>
                    <option id="TC">Islas Turks y Caicos</option>
                    <option id="VI">Islas Vírgenes (EEUU)</option>
                    <option id="VG">Islas Vírgenes (Reino Unido)</option>
                    <option id="WF">Islas Wallis y Futuna</option>
                    <option id="IL">Israel</option>
                    <option id="IT">Italia</option>
                    <option id="JM">Jamaica</option>
                    <option id="JP">Japón</option>
                    <option id="JO">Jordania</option>
                    <option id="KZ">Kazajistán</option>
                    <option id="KE">Kenia</option>
                    <option id="KG">Kirguizistán</option>
                    <option id="KI">Kiribati</option>
                    <option id="KW">Kuwait</option>
                    <option id="LA">Laos</option>
                    <option id="LS">Lesotho</option>
                    <option id="LV">Letonia</option>
                    <option id="LB">Líbano</option>
                    <option id="LR">Liberia</option>
                    <option id="LY">Libia</option>
                    <option id="LI">Liechtenstein</option>
                    <option id="LT">Lituania</option>
                    <option id="LU">Luxemburgo</option>
                    <option id="MK">Macedonia, Ex-República Yugoslava de</option>
                    <option id="MG">Madagascar</option>
                    <option id="MY">Malasia</option>
                    <option id="MW">Malawi</option>
                    <option id="MV">Maldivas</option>
                    <option id="ML">Malí</option>
                    <option id="MT">Malta</option>
                    <option id="MA">Marruecos</option>
                    <option id="MQ">Martinica</option>
                    <option id="MU">Mauricio</option>
                    <option id="MR">Mauritania</option>
                    <option id="YT">Mayotte</option>
                    <option id="MX">México</option>
                    <option id="FM">Micronesia</option>
                    <option id="MD">Moldavia</option>
                    <option id="MC">Mónaco</option>
                    <option id="MN">Mongolia</option>
                    <option id="MS">Montserrat</option>
                    <option id="MZ">Mozambique</option>
                    <option id="NA">Namibia</option>
                    <option id="NR">Nauru</option>
                    <option id="NP">Nepal</option>
                    <option id="NI">Nicaragua</option>
                    <option id="NE">Níger</option>
                    <option id="NG">Nigeria</option>
                    <option id="NU">Niue</option>
                    <option id="NF">Norfolk</option>
                    <option id="NO">Noruega</option>
                    <option id="NC">Nueva Caledonia</option>
                    <option id="NZ">Nueva Zelanda</option>
                    <option id="OM">Omán</option>
                    <option id="NL">Países Bajos</option>
                    <option id="PA">Panamá</option>
                    <option id="PG">Papúa Nueva Guinea</option>
                    <option id="PK">Paquistán</option>
                    <option id="PY">Paraguay</option>
                    <option id="PE">Perú</option>
                    <option id="PN">Pitcairn</option>
                    <option id="PF">Polinesia Francesa</option>
                    <option id="PL">Polonia</option>
                    <option id="PT">Portugal</option>
                    <option id="PR">Puerto Rico</option>
                    <option id="QA">Qatar</option>
                    <option id="UK">Reino Unido</option>
                    <option id="CF">República Centroafricana</option>
                    <option id="CZ">República Checa</option>
                    <option id="ZA">República de Sudáfrica</option>
                    <option id="DO">República Dominicana</option>
                    <option id="SK">República Eslovaca</option>
                    <option id="RE">Reunión</option>
                    <option id="RW">Ruanda</option>
                    <option id="RO">Rumania</option>
                    <option id="RU">Rusia</option>
                    <option id="EH">Sahara Occidental</option>
                    <option id="KN">Saint Kitts y Nevis</option>
                    <option id="WS">Samoa</option>
                    <option id="AS">Samoa Americana</option>
                    <option id="SM">San Marino</option>
                    <option id="VC">San Vicente y Granadinas</option>
                    <option id="SH">Santa Helena</option>
                    <option id="LC">Santa Lucía</option>
                    <option id="ST">Santo Tomé y Príncipe</option>
                    <option id="SN">Senegal</option>
                    <option id="SC">Seychelles</option>
                    <option id="SL">Sierra Leona</option>
                    <option id="SG">Singapur</option>
                    <option id="SY">Siria</option>
                    <option id="SO">Somalia</option>
                    <option id="LK">Sri Lanka</option>
                    <option id="PM">St Pierre y Miquelon</option>
                    <option id="SZ">Suazilandia</option>
                    <option id="SD">Sudán</option>
                    <option id="SE">Suecia</option>
                    <option id="CH">Suiza</option>
                    <option id="SR">Surinam</option>
                    <option id="TH">Tailandia</option>
                    <option id="TW">Taiwán</option>
                    <option id="TZ">Tanzania</option>
                    <option id="TJ">Tayikistán</option>
                    <option id="TF">Territorios franceses del Sur</option>
                    <option id="TP">Timor Oriental</option>
                    <option id="TG">Togo</option>
                    <option id="TO">Tonga</option>
                    <option id="TT">Trinidad y Tobago</option>
                    <option id="TN">Túnez</option>
                    <option id="TM">Turkmenistán</option>
                    <option id="TR">Turquía</option>
                    <option id="TV">Tuvalu</option>
                    <option id="UA">Ucrania</option>
                    <option id="UG">Uganda</option>
                    <option id="UY">Uruguay</option>
                    <option id="UZ">Uzbekistán</option>
                    <option id="VU">Vanuatu</option>
                    <option id="VE">Venezuela</option>
                    <option id="VN">Vietnam</option>
                    <option id="YE">Yemen</option>
                    <option id="YU">Yugoslavia</option>
                    <option id="ZM">Zambia</option>
                    <option id="ZW">Zimbabue</option>
                </select>
                <h3>Numero de huespedes</h3>
                <input required type="number" id="number-of-adults" placeholder="Adultos">
                <input required type="number" id="number-of-kids" placeholder="Niños (Menor de 18)">
                <h3>Peticiones especiales</h3>
                <textarea id="petitions" placeholder="Maximo 500 caracteres" maxlength="500"></textarea>
                <div>
                    <label for="policies">Declaro haber
                        leído y aceptar las
                        <a href="/static/images/JW-Marriott-Policies.pdf" target="_blank">Politicas de Privacidad</a> del Hotel y la normativa sobre
                        protección de datos.</label>
                    <input required type="checkbox" name="policies" id="policies">
                </div>
                <button>Continuar al pago</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <p class="footer__copy">&#169; Grupo #1<br>Todos los derechos reservados.</p>
{% endblock %}