{% extends "index.html" %}

{% block title %}  {% endblock %}

{% block header %}{% endblock %}


{% block main %}

<div class="error__section">
    <div class="error__container" style="background-color: inherit;">

        <div class="error__content">

            <div class="error__title">No puedes estar aqu&iacute;</div>

            <img class="error__img-png" src="{{url_for('static',filename='images/403.png')}}" alt="">
            <p>Esta &aacute;rea es solo para personal autorizado.</p>
            <p>Redireccionando en: <span id="time"></span></p>
        
        </div>

    </div>
</div>

{% endblock %}

{% block footer %} {% endblock %}

{% block scripts %}

<script>
var segundos = 5;
function actualizar(){
    document.querySelector('#time').innerHTML = "0"+segundos+"s";
    if (segundos == -1) {
         document.querySelector('#time').innerHTML = "Tiempo finalizado";
     }else{
         segundos-=1;
         setTimeout(actualizar, 1E3);
     }
}
actualizar();
</script>


<!--El Script debe estar dentro de las etiquetas de jinja2-->
<script> 
    setTimeout(function(){
        window.location.href='{{"/"}}';
        }, 5000);
</script>
{% endblock %}