{% extends "index.html" %}

{% block title %} Success {% endblock %}

{% block header %}{% endblock %}


{% block main %}

<section class="success">
    <div class="section__container" style="background-color: inherit;">
        <div class="form success__form">
            <div class="success__texts">
                <div class="success__title">REGISTO EXITOSO</div>
                <p>Redireccionando a la pagina<br>de inicio en: <span id="time"></span></p>
            </div>

            <img class="success__img-png" src="{{url_for('static',filename='images/Success.png')}}" alt="">
        </div>
    </div>
</section>

{% endblock %}

{% block footer %} {% endblock %}

{% block scripts %}

<script>
    var segundos = 5;
    function actualizar(){
        document.querySelector('#time').innerHTML = "0"+segundos+"s";
        if (segundos == -1) {
             document.querySelector('#time').innerHTML = "Tiempo finalizado";
         }else{
             segundos-=1;
             setTimeout(actualizar, 1E3);
         }
    }
    actualizar();
    </script>

<!--El Script debe estar dentro de las etiquetas de jinja2-->
<script> 
    setTimeout(function(){
        window.location.href='{{"/"}}';
        }, 3000);
</script>
{% endblock %}