{% extends "index.html" %}

{% block title %} Success {% endblock %}

{% block header %} {% endblock %}


{% block mainSection %}

<section class="success">
    <div class="section__container" style="background-color: inherit;">
        <div class="form success__form">
            <div class="success__texts">
                <div class="success__title">ENVÍO EXITOSO</div>
                <p>Redireccionando a la pagina<br>de inicio en: <span id="time"></span></p>
            </div>

            <img class="success__img-png" src="{{url_for('static',filename='img/Success.png')}}" alt="">
        </div>
    </div>
</section>

{% endblock %}


{% block scripts %}

<script>
function startTimer(duration, display) {
    //              5
    var timer = duration, seconds;
    setInterval(function () {
        // minutes = parseInt(timer / 60, 10);
        seconds = parseInt(timer - 0);

        // minutes = minutes < 10 ? "0" + minutes : minutes;
        seconds = seconds < 10 ? "0" + seconds : seconds;

        display.textContent =seconds +"s";

        if (--timer < 0) {
            timer = duration;
        }
    }, 1000);
}

window.onload = function () {
    var seconds = 2,
        display = document.querySelector('#time');
    startTimer(seconds, display);
};
</script>


<!--El Script debe estar dentro de las etiquetas de jinja2-->
<script> 
    setTimeout(function(){
        window.location.href='{{"/"}}';
        }, 3000);
</script>
{% endblock %}